<div id="wrideCard">
  <div class="top">
    <div class="option1 option">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      <h2>写回答</h2>
    </div>
    <div class="option2 option" (click)="linkToWriteArtical()">
      <i nz-icon nzType="form" nzTheme="outline"></i>
      <h2>写文章</h2>
    </div>
    <div class="option3 option">
      <i nz-icon nzType="snippets" nzTheme="outline"></i>
      <h2>写想法</h2>
    </div>
  </div>
  <div class="between">
    <i nz-icon nzType="redo" nzTheme="outline"></i>
    <h3>我的稍后答</h3>

  </div>
  <div class="bottom">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
    <h3>我的草稿箱</h3>
  </div>
</div>
